/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}

.header{
	background-color: #011e29;
	color: white;
	font-size: 20px;
	padding: 20px 0;
	text-align: center;
}

.flex-container{
    width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: flex;
	gap: 10px;
	align-items: flex-start;
}

.latest-news-section, 
.main-article-section,
.pictorial-news-section
{
background-color: white;
padding: 15px;
border-radius: 10px;
}

.latest-news-section{
	flex: 1;
}

.main-article-section{
	flex: 2;
	text-align: center;
}

.pictorial-news-section{
	flex: 1;
}

.pictorial-news-section img{
	width: 100%;
	margin-bottom: 10px;
}